# registry=https://npm-registry.toolsfdg.net
# hoist=false
# hoist-pattern[]=*types*
# hoist-pattern[]=!@types/react
# public-hoist-pattern[]=*types*
# public-hoist-pattern[]=!@types/react
# independent-leaves=true
# resolution-strategy=fewer-dependencies
# auto-install-peers=true
shamefully-hoist=true
# node-linker=hoisted